ul {
  list-style: none;
  padding: 10px 0px;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

ul li {
  float: right;
}

i {
  padding-right: 3px;
}

.logo {
  flex-basis: 70%;
  padding-left: 16px;
}

.userInterface {
  flex-shrink: 0;
  margin: 0 16px;
}

.navStyle {
  background-color: #d800a9;
  color: #e4fde1;
}

.navStyle a {
  color: #e4fde1;
  font-style: none;
  text-decoration: none;
}
