body {
  background-color: #e6e6e6;
  color: #114b5f;
}

/* .postContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 650px);
  grid-gap: 0 6px;
} */

.post {
  background-color: #f1f1f1;
  padding: 16px 32px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px #114b5f;
}

.post a {
  color: #129c8a;
  font-style: none;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.post i {
  color: #129c8a;
}

.highlightColor {
  color: #129c8a;
}

.title {
  font-size: 1.5em;
}

.socialMedia {
  display: flex;
  float: left;
  justify-content: space-between;
}
